/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*Reset JP*/
.box {
  display: block;
  height: auto;
  overflow: hidden; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fcenter {
  margin: 0 auto; }

.fwidth {
  width: 100%; }

p, a {
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

a {
  text-decoration: none; }

.ocultar {
  display: none;
  visibility: hidden; }

.mostrar {
  display: block;
  visibility: visible; }

.no-column {
  padding-left: 0;
  padding-right: 0; }

p {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6, p, button {
  font-family: "proxima-nova-alt";
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  font-family: "proxima-nova-alt";
  font-weight: 700;
  transition: All .5s ease;
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

header {
  position: relative;
  height: 106px;
  display: block;
  padding-top: 29px;
  margin-bottom: 66px; }
  header .dropdown-menu {
    left: -60px; }
  header #menu-nav {
    width: 40px;
    height: 76px;
    position: relative;
    overflow: visible;
    margin-right: -45px; }
    header #menu-nav .btn-group.open .dropdown-toggle, header #menu-nav .btn.active, header #menu-nav .btn:active {
      box-shadow: none; }
    header #menu-nav .btn-group {
      transition: All .5s ease;
      -webkit-transition: All .5s ease;
      -moz-transition: All .5s ease;
      -o-transition: All .5s ease; }
      header #menu-nav .btn-group button {
        color: #ff4355;
        background: none; }
        header #menu-nav .btn-group button i {
          transform: scale(0.8); }
    header #menu-nav .dropdown-menu {
      background-color: #FFFFFF;
      border: none;
      border-radius: 0px;
      box-shadow: none !important;
      float: right;
      font-size: 14px;
      letter-spacing: .5px;
      margin: 2px 0 0;
      min-width: 100px;
      padding: 5px;
      text-align: right;
      transition: All .5s ease;
      -webkit-transition: All .5s ease;
      -moz-transition: All .5s ease;
      -o-transition: All .5s ease; }
      header #menu-nav .dropdown-menu li a {
        padding: 0;
        color: #ff4355;
        font-weight: 700;
        display: inline; }
        header #menu-nav .dropdown-menu li a:hover {
          color: #FFF;
          background: #ff4355; }
    @media (max-width: 793px) {
      header #menu-nav {
        margin-right: 0px; } }

ul.filtro {
  display: inline-block;
  margin-bottom: 8px; }
  ul.filtro li {
    float: left;
    padding: 0 10px;
    color: #ff4355;
    margin-bottom: 10px; }
    ul.filtro li a {
      color: #ff4355;
      letter-spacing: 1px;
      font-size: 14px; }
      ul.filtro li a:hover {
        text-decoration: none;
        border-bottom: 3px solid #ff4355; }
  ul.filtro li.active a {
    border-bottom: 3px solid #ff4355; }

#contenido .item {
  height: 350px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  /* para browser */
  /* para dispositivo */ }
  #contenido .item .contenedora {
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
    height: 100%;
    position: absolute;
    left: 0;
    padding: 15px; }
  #contenido .item .titulo {
    position: absolute;
    bottom: 30px;
    display: block; }
    #contenido .item .titulo h1 {
      text-transform: uppercase;
      color: #bbbdc0;
      font-family: "nudista-web";
      font-weight: 600;
      display: inline;
      background: #FFF;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 45px;
      transition: All .5s ease;
      -webkit-transition: All .5s ease;
      -moz-transition: All .5s ease;
      -o-transition: All .5s ease;
      font-size: 30px; }
    #contenido .item .titulo span.fecha, #contenido .item .titulo span.tags {
      opacity: 0;
      transition: All .5s ease;
      -webkit-transition: All .5s ease;
      -moz-transition: All .5s ease;
      -o-transition: All .5s ease; }
      #contenido .item .titulo span.fecha p, #contenido .item .titulo span.fecha a, #contenido .item .titulo span.tags p, #contenido .item .titulo span.tags a {
        font-family: "ff-tisa-web-pro";
        font-weight: 400;
        display: inline;
        color: #00a9e6;
        background: #FFF;
        padding: 0 2px;
        font-size: 12px; }
    #contenido .item .titulo span.fecha {
      margin-bottom: 5px; }
      #contenido .item .titulo span.fecha p {
        text-transform: uppercase;
        font-style: italic; }
    #contenido .item .titulo span.tags {
      margin-top: 5px;
      font-style: italic; }
    #contenido .item .titulo .div {
      position: relative; }
  #contenido .item:hover h1 {
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
    color: #00a9e6; }
  #contenido .item:hover span.fecha, #contenido .item:hover span.tags {
    opacity: 1;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease; }
  #contenido .item:hover .contenedora {
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
    background-color: rgba(255, 255, 255, 0.9); }
  @media (max-width: 1200px) {
    #contenido .item {
      height: 323px !important; } }
  @media only screen and (max-device-width: 1200px) {
    #contenido .item {
      height: 323px !important; } }
#contenido .vermas {
  padding-top: 64px; }
  #contenido .vermas a {
    color: #ff4355;
    font-weight: 700;
    border-bottom: 3px solid #ff4355;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px; }
    #contenido .vermas a:hover {
      text-decoration: none; }

footer {
  height: 102px;
  margin-top: 250px; }
  footer p, footer a, footer span, footer i {
    color: #ff4355;
    font-weight: 400;
    font-size: 11px; }
  footer .creditos {
    padding-top: 26px; }
    footer .creditos p {
      font-weight: 600;
      letter-spacing: 1px; }
      footer .creditos p a {
        font-style: italic;
        text-transform: uppercase; }
        footer .creditos p a:hover {
          color: #ff4355; }
  footer .mail-contacto {
    padding-top: 22px; }
    footer .mail-contacto a {
      font-weight: 600;
      letter-spacing: 1px; }
      footer .mail-contacto a:hover {
        color: #ff4355; }
  footer .mail-contactob {
    padding-top: 5px; }
  footer .rs-info-lote .info-lote {
    padding-top: 8px; }
    footer .rs-info-lote .info-lote p {
      letter-spacing: .5px; }
      footer .rs-info-lote .info-lote p span.italic {
        font-style: italic; }
      footer .rs-info-lote .info-lote p span.bold {
        font-weight: 700; }
      footer .rs-info-lote .info-lote p span.uppercase {
        text-transform: uppercase; }
      footer .rs-info-lote .info-lote p span.semibold {
        font-weight: 600 !important; }
  footer .rs {
    padding-bottom: 16px;
    padding-top: 23px;
    background-image: url(img/lin-bg-rs-footer.png), url(img/lin-bg-rs-footer.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
   /* 
  @media (max-width: 768px) {
      background: none;
  }
   para dispositivo
  @media only screen and (max-device-width: 768px) {
      background: none;
  } */ }
    footer .rs ul {
      display: block;
      width: 100%;
      text-align: center; }
      footer .rs ul li {
        padding: 0 6px;
        display: inline; }
  footer .rsb {
    background: none !important; }
    footer .rsb .ulb {
      float: left;
      width: auto; }
