/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*Reset JP*/
.box {
	display:block;
	height:auto;
	overflow:hidden;
}
@mixin box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
p, a {
	margin:0;
	padding:0;
}
.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
a {
	text-decoration:none;

}
.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}
.no-column {
	padding-left:0;
	padding-right:0;
}

$em-1: 1em;
$em-2: 2em;
$em-3: 3em;
$em-4: 4em;
p {
	font-size: 14px; 
}
@mixin font-family { 
	font-family:"proxima-nova-alt";
    font-weight: 700;
}
@mixin font-nudista {
    font-family: "nudista-web";
}
@mixin font-tisa {
    font-family: "ff-tisa-web-pro";
}
@mixin transicion {
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

h1, h2, h3, h4, h5, h6, p, button {
	font-family:"proxima-nova-alt";
	margin:0;
	padding:0;
    
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
	@include font-family;
	@include transicion;
    font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	text-rendering: optimizeLegibility !important;
}
@mixin cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-position: center;
}
.table {
	display:table;
	width:100%;
	height:100%;
}
.table-cell {
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
}

//Paleta
$rojo: #ff4355;
$celeste: #00a9e6;
$gris: #bbbdc0;

//Body

header {
    position: relative;
    height: 106px;
    display: block;
    
    padding-top: 29px;
    margin-bottom: 66px;
    .dropdown-menu {
        left: -60px;
    }
    #menu-nav {
        width: 40px;
        height: 76px;
        position: relative;
        overflow: visible;
        margin-right: -45px;
            .btn-group.open .dropdown-toggle,.btn.active, .btn:active {
            box-shadow: none;
            }
            .btn-group {
                @include transicion;
                button{
                    color: $rojo;
                    background: none;
                    i {
                        transform: scale(0.8);
                    }
                }
            }
            .dropdown-menu{
                background-color: #FFFFFF;
                border: none;
                border-radius: 0px;
                box-shadow: none!important;
                float: right;
                font-size: 14px;
                letter-spacing: .5px;
                margin: 2px 0 0;
                min-width: 100px;
                padding:5px;
                text-align: right;
                @include transicion;
                li {
                    a {
                        padding: 0;
                        color: $rojo;
                        font-weight: 700;
                        display: inline;
                        &:hover {
                            color: #FFF;
                            background: $rojo;
                        }
                    }
                }
            }
            @media (max-width: 793px) {
                margin-right: 0px;
            }
        }
    
}
//header

ul.filtro {
    display: inline-block;
    margin-bottom: 8px;
    li {
        float: left;
        padding: 0 10px;
        color: $rojo;
        margin-bottom: 10px;
        a {
            color: $rojo;
            letter-spacing: 1px;
            font-size: 14px;
            &:hover {
                text-decoration: none;
                border-bottom: 3px solid $rojo;
            }
        }
    }
    li.active {
        a {
            border-bottom: 3px solid $rojo;
        }
    }
}
#contenido {
    .item {
        height: 350px;
        position: relative;
        @include cover;
        
        
        .contenedora {
            @include transicion;
            height: 100%;
            position: absolute;
            left: 0;
            padding: 15px;
        }
        .titulo {
            position: absolute;
            bottom: 30px;
            display: block;
            
            h1 {
                text-transform: uppercase;
                color: $gris;
                @include font-nudista;
                font-weight: 600;
                display: inline;
                background: #FFF;
                padding: 0!important;
                margin: 0!important;
                line-height: 45px;
                @include transicion;
                font-size: 30px;
            }
            span.fecha, span.tags {
                opacity: 0;
                @include transicion;
                p, a {
                    @include font-tisa;
                    font-weight: 400;
                    display: inline;
                    color: $celeste;
                    background: #FFF;
                    padding: 0 2px;
                    font-size: 12px;
                }
            }
            span.fecha {
                margin-bottom: 5px;
                p {
                    text-transform: uppercase;
                    font-style: italic;       
                }
            }
            span.tags {
                margin-top: 5px;
                font-style: italic;
            }
            .div {
                position: relative;
            }
        }
        &:hover {
            h1 {
                @include transicion;
                color: $celeste;
            }
            span.fecha, span.tags {
                opacity: 1;
                @include transicion;
            }
            .contenedora {
                @include transicion;
                background-color: rgba(255,255,255,.9);
            }
        }
        /* para browser */
        @media (max-width: 1200px) {
            height: 323px!important;
        }
        /* para dispositivo */
        @media only screen and (max-device-width: 1200px) {
            height: 323px!important;
        }
    }
    //cierra item
    .vermas {
        padding-top: 64px;
        a{
            color:$rojo;
            font-weight: 700;
            border-bottom: 3px solid $rojo;
            display: inline-block;
            text-decoration: none;
            letter-spacing: 1px;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}
footer {
    height: 102px;
    margin-top: 250px;
    p,a,span,i{
        color: $rojo;
        font-weight: 400;
        font-size: 11px;
    }
    .creditos {
        padding-top: 26px;
        p {
            font-weight: 600;
            letter-spacing: 1px;
            a{
                font-style: italic;
                text-transform: uppercase;
                &:hover {
                    color: $rojo;
                }
            }
        }
    }
    .mail-contacto {
        padding-top: 22px;
        a{
            font-weight: 600;
            letter-spacing: 1px;
            &:hover {
                color: $rojo;
            }
        }
    }
    .mail-contactob {
        padding-top: 5px;
    }
    .rs-info-lote {
        .info-b {
        }
        .info-lote {
            padding-top: 8px;
            p{
                letter-spacing: .5px;
                span.italic{
                    font-style: italic;
                }
                span.bold {
                    font-weight: 700;
                }
                span.uppercase {
                    text-transform: uppercase;
                }
                span.semibold {
                    font-weight: 600!important;
                }
            }
        }
    }
    
    .rs {
        
        padding-bottom: 16px;
        padding-top: 23px;
        background-image: url(img/lin-bg-rs-footer.png), url(img/lin-bg-rs-footer.png);
background-position: top left, top right;
        background-repeat: no-repeat;
        
         /* 
        @media (max-width: 768px) {
            background: none;
        }
         para dispositivo
        @media only screen and (max-device-width: 768px) {
            background: none;
        } */
        
        
        ul {
            display: block;
            width: 100%;
            text-align: center;
            li {
                padding: 0 6px;
                display: inline;
                i {
                }
            }
        }
    }
    .rsb {
        background: none!important;
        .ulb{
            float: left;
            width: auto;
        } 
    }
}
